@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/dropzone-styles/dropzone.css")
<div class="jumbotron">
    <div class="row">
        @using (Html.BeginForm("UploadDocs", "Home",
                               FormMethod.Post,
                               new
                               {
                                   @class = "dropzone",
                                   id = "dropzone-form",
                               }))
        {
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        }
    </div>
    <h6 class="error_message_razor">
        @ViewData["ErrorMessage"]
    </h6>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/dropzone/dropzone.min.js")

    <script type="text/javascript">
        Dropzone.options.dropzoneForm = {
            paramName: "file",
            maxFilesize: 20,
            maxFiles: null,
            acceptedFiles: ".doc,.pdf",
            dictDefaultMessage: "Нажмитие / перетащите файлы, чтобы загрузить их на сервер",
            dictMaxFilesExceeded: "Custom max files msg",
        };
    </script>
}
